@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #273733;
    color: hsl(165, 17%, 78%);
    font-family: 'Barlow Condensed', sans-serif;
    width: 768px;
    margin: 32px auto;
}
h1{
    font-weight: 300;
    margin-bottom: 24px;
}
a{
    text-decoration: none;
}

nav{
    margin: 24px 16px;
}
    nav button,
    nav a
    {
        background-color: hsl(165, 17%, 78%);
        color: #273733;
        width: 104px;
        padding: 8px;
        border: none;
        border-radius: 8px;
        margin: 0px 8px;
        cursor: pointer;
        transition: 500ms;
    }
    nav button:hover,
    nav a:hover{
        background-color: hsl(165, 37%, 67%);
        box-shadow: 0px 0px 16px hsl(165, 37%, 67%);
    }
#txt{
    font-size: 24px;
    padding: 8px;
    border-radius: 8px;
    background-color: hsl(165, 17%, 25%);
}

#caja{
    background-color: #bfbfbf;
    color: #273733;
    width: 256px;
    height: 256px;
    border-radius: 8px;
    margin: 32px 0px;
    padding: 32px;
    font-size: 3em;
}

.parrafo{
    margin: 24px;
}
#picker{
    width: 64px;
    height: 40px;
    position: relative;
    top: 10px;
    border-radius: 8px;
    border: none;
}